.page-layout-one {

  .owl-theme .owl-nav {
    width: 100%;
    position: absolute;
    top: calc(50% - 20px);
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    @include breakpoints-down(xs) {
      top: calc(50% - 12px);
    }
  }


  .owl-theme .owl-dots {
    display: none;
    @include breakpoints-down(xs) {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: block;
    }
  }

  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none!important;
  }

  .owl-carousel .owl-nav button.owl-next, 
  .owl-carousel .owl-nav button.owl-prev {
    background: var(--v-anchor-base);
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;

    span {
      padding-bottom: 10px;
      @include breakpoints-down(xs) {
        padding-bottom: 7px;
      }
    }
    @include breakpoints-down(xs) {
      width: 24px;
      height: 24px;
      font-size: 24px;
    }
  }

  .container-wrap {
    .promo-slider {
      .container {
        padding: 0 !important;
      }
      .item {
        height: 78vh;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include breakpoints-down(xs) {
          height: 60vh;
        }
      }
      .cover {
        display: flex;
        padding: 11%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        @include breakpoints-down(xs) {
          padding: 15px;
        }
        
        &.dark-mask {
          background: rgba(0, 0, 0, 0.5);
        }

        .text-content {
          width: 100%;
          position: relative;
          padding: 40px;
          overflow: hidden;
          @include breakpoints-down(xs) {
            padding: 10px;
          }
  
          h1 {
            font-size: 36px;
            font-weight: 600;
            margin: 5px 0 10px;
            word-spacing: 3px;
            color: #fff;
            @include breakpoints-down(xs) {
              font-size: 28px;
            }
          }

          h3 {
            font-size: 28px;
            font-weight: 500;
            line-height: 1.8;
            color: #fff;
            @include breakpoints-down(xs) {
              font-size: 22px;
            }
          }
  
          h4 {
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            color: #fff;
            @include breakpoints-down(xs) {
              font-size: 18px;
            }
          }
  
          p {
            color: #ff0;
            font-size: 16px;
            line-height: 1.5;
            margin: 20px auto;
            @include breakpoints-down(xs) {
              font-size: 14px;
            }
          }
  
          a.btn {
            padding: 8px 40px;
            border-radius: 100rem;
            font-size: 18px;
          }
  
        }
  
      }
    }
  }

  &.house {
    .promo-slider {
      .item {
        &.slider1 {
          background-image: url(https://mkp.taishinbank.com.tw/TsCms/marketing/expose/WM_20190325132043672/img/houseloan-detail/second-topbanner@2x.jpg);
          @include breakpoints-down(xs) {
            background-image: url(https://mkp.taishinbank.com.tw/TsCms/marketing/expose/WM_20190325132043672/img/houseloan-detail/second-topbanner-m@2x.jpg);
          }
        }
        &.slider2 {
          background-image: url(https://mkp.taishinbank.com.tw/TsCms/marketing/expose/WM_20190325132043672/img/houseloan-detail/value-save-detail-topbanner@2x.jpg);
          @include breakpoints-down(xs) {
            background-image: url(https://mkp.taishinbank.com.tw/TsCms/marketing/expose/WM_20190325132043672/img/houseloan-detail/value-save-detail-topbanner-m@2x.jpg);
          }
        }
        &.slider3 {
          background-image: url(https://mkp.taishinbank.com.tw/TsCms/marketing/expose/WM_20190325132043672/img/houseloan-detail/value-save-detail-topbanner-2@2x.jpg);
          @include breakpoints-down(xs) {
            background-image: url(https://mkp.taishinbank.com.tw/TsCms/marketing/expose/WM_20190325132043672/img/houseloan-detail/value-save-detail-topbanner-m-2@2x.jpg);
          }
        }        
      }
    }
  }

  &.car {
    .promo-slider {
      .item {
        &.slider1 {
          background-image: url(https://c.moneyduck.com/old/contents/images/X6FhBbfqE6BEb4qg1THPZWfxSZcsxuA0oW5GIGF1.jpeg);
          @include breakpoints-down(xs) {
            // background-image: url();
          }
        }
        &.slider2 {
          background-image: url(https://www.carfax.ca/resource-centre/articles/how-to-complete-a-used-car-sale-by-owner-in-canada/shake.jpg);
          @include breakpoints-down(xs) {
            // background-image: url();
          }
        }     
      }
    }
  }

  &.motorcycle {
    .promo-slider {
      .item {
        &.slider1 {
          background-image: url(https://motor168.net/wp-content/uploads/2019/11/vespa-1504248_1920.jpg);
        }
      }
    }
  }
}
