.page-layout-one {

  .owl-theme .owl-nav {
    width: 100%;
    position: absolute;
    top: calc(50% - 36px);
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    @include breakpoints-down(xs) {
      // top: calc(50% - 12px);
    }
  }

  .owl-theme .owl-dots {
    display: none;
    @include breakpoints-down(xs) {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: block;
    }
  }

  .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none!important;
  }

  .owl-carousel .owl-nav button.owl-next, 
  .owl-carousel .owl-nav button.owl-prev {
    // background: var(--v-anchor-base);
    width: 5vw;
    // height: 30px;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #fff;

    span {
      // padding-bottom: 10px;
    }
  }

  .container-wrap {
    .promo-slider {
      .container {
        padding: 0 !important;
      }
      .item {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        // @include breakpoints-down(xs) {
        //   height: 60vh;
        // }
      }
      .cover {
        display: flex;
        padding: 5%;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background: rgba(0, 0, 0, 0.2);
        align-items: center;
        @include breakpoints-down(xs) {
          padding: 15px;
        }
        
        &.dark-mask {
          background: rgba(0, 0, 0, 0.5);
        }

        &.light-mask {
          background: rgba(255, 255, 255, 0.5);
        }
        &.m-light-mask {
          @include breakpoints-down(xs) {
            background: rgba(255, 255, 255, 0.5);
          }
        }

        .text-content {
          width: 100%;
          position: relative;
          padding: 40px;
          overflow: hidden;
          @include breakpoints-down(xs) {
            padding: 10px;
          }
  
          h1 {
            font-size: 36px;
            font-weight: 600;
            margin: 5px 0 10px;
            word-spacing: 3px;
            color: #fff;
            @include breakpoints-down(xs) {
              font-size: 28px;
            }
          }

          h3 {
            font-size: 28px;
            font-weight: 500;
            line-height: 1.8;
            color: #fff;
            @include breakpoints-down(xs) {
              font-size: 22px;
            }
          }
  
          h4 {
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            color: #fff;
            @include breakpoints-down(xs) {
              font-size: 18px;
            }
          }
  
          p {
            color: #ff0;
            font-size: 16px;
            line-height: 1.5;
            margin: 20px auto;
            @include breakpoints-down(xs) {
              font-size: 14px;
            }
          }
  
          a.btn {
            padding: 8px 40px;
            border-radius: 100rem;
            font-size: 18px;
          }
  
        }

        &.text-dark {
          h1 {color: var(--v-anchor-base);}
          h4 {color:#333;}
          p {color:var(--v-primarydark-base);}
        }
  
      }
    }
  }

  &.house {
    .promo-slider {
      .cover {
        @include breakpoints-down(xs) {
          top: -5vh;
        }
      }
      .item {
        &.slider1 {
          background-image: url(../../assets/images/promo/01_pink/images/id01_01.jpg);
          @include breakpoints-down(xs) {
            background-image: url(../../assets/images/promo/01_pink/images/id01_m_01.jpg);
          }
        }
        &.slider2 {
          background-image: url(../../assets/images/promo/01_pink/images/id01_02.jpg);
          @include breakpoints-down(xs) {
            background-image: url(../../assets/images/promo/01_pink/images/id01_m_02.jpg);
          }
        }        
      }
    }
  }

  &.car {
    .promo-slider {
      .cover {
        @include breakpoints-down(xs) {
          top: -5vh;
        }
      }
      .item {
        &.slider1 {
          background-image: url(../../assets/images/promo/02_blue/images/id02_01.jpg);
          @include breakpoints-down(xs) {
            // background-image: url();
          }
        }
        &.slider2 {
          background-image: url(../../assets/images/promo/02_blue/images/id02_02.jpg);
          @include breakpoints-down(xs) {
            background-image: url(../../assets/images/promo/02_blue/images/id02_02_m.jpg);
          }
        }     
      }
    }
  }

  &.motorcycle {
    .promo-slider {
      .item {
        &.slider1 {
          background-image: url(../../assets/images/promo/03_orange/id03.jpg);
          @include breakpoints-down(md) {
            background-image: url(../../assets/images/promo/03_orange/id03_m.jpg);
          }
        }
      }
    }
  }

  &.integration {
    .promo-slider {
      .item {
        &.slider1 {
          background-image: url(../../assets/images/promo/04_green/01.jpg);
          @include breakpoints-down(xs) {
            background-image: url(../../assets/images/promo/04_green/01.jpg);
          }
        }
        &.slider2 {
          background-image: url(../../assets/images/promo/04_green/02.jpg);
          @include breakpoints-down(xs) {
            background-image: url(../../assets/images/promo/04_green/02.jpg);
          }
        }
        &.slider3 {
          background-image: url(../../assets/images/promo/04_green/03.jpg);
          @include breakpoints-down(xs) {
            background-image: url(../../assets/images/promo/04_green/03.jpg);
          }
        }
        &.slider4 {
          background-image: url(../../assets/images/promo/04_green/04.jpg);
          @include breakpoints-down(xs) {
            background-image: url(../../assets/images/promo/04_green/04.jpg);
          }
        }
      }
    }
  }

  &.personal {
    .promo-slider {
      .item {
        &.slider1 {
          background-image: url(../../assets/images/promo/05/id05.jpg);
        }
      }
    }
  }
}
