#feature {
  // background: url(../../assets/images/mrd/bg_hero.svg);
  // background-repeat: no-repeat;
  // background-position: center right;
  @include breakpoints-down(xs) {
    // padding-top: 20px;
    // padding-bottom: 0;
  }
  
  .root {
    position: relative;
    width: 100%;
    // padding-bottom: $spacing5;
    @include breakpoints-down(md) {
      padding-bottom: 20px;
    }
    @include breakpoints-between(sm, md) {
      padding-top: $spacing10;
    }
    @include breakpoints-down(xs) {
      padding-bottom: 0
    }
  }

}

.counter-item {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: spacing(2);
  padding: spacing(2);
  background: #fff;
  box-shadow: 0 4px 15px #b3f3fb;
  border-radius: 10px;
  @include breakpoints-down(xs) {
    margin: spacing(2, 4);
  }
  figure {
    @include margin-right($spacing5);
    border: 1px solid $palette-primary-main;
    border-radius: 10px;
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    @include breakpoints-down(xs) {
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
    img {
      transform: rotate(-45deg);
      @include use-theme(filter, none, invert(1));
      width: 55%;
      max-height: 55%;
      margin: 0 auto;
    }
    &:after {
      content: '';
      background: $palette-primary-main;
      width: 23px;
      height: 23px;
      border-radius: 5px;
      position: absolute;
      bottom: 20px;
      right: -10px;
    }
  }
  .text {
    @include breakpoints-down(xs) {
      flex: 1
    }
  }
  h4 {
    font-size: 28px;
    @include breakpoints-down(sm) {
      // margin-top: $spacing3
    }
    @include breakpoints-down(xs) {
      font-size: 22px;
    }
  }
  h5 {
    color:var(--v-primarydark-base);
    font-size: 24px;
    @include breakpoints-down(sm) {
      // margin-top: $spacing3
    }
    @include breakpoints-down(xs) {
      font-size: 20px;
    }
  }
  h6 {
    @include palette-text-secondary
  }
  @include breakpoints-between(sm, md) {
    flex-direction: column;
    text-align: center
  }
  @include breakpoints-down(xs) {
    justify-content: center;
  }
}

.page-program {
  .counter-item {
    margin: 16px 8px;
    @include breakpoints-down(xs) {
      display: block;
      padding:spacing(1.5, 1);
      margin: spacing(1.5, 0);
    }

    img.bank-logo {
      width: 100px;
      margin-right: 20px;
      @include breakpoints-down(xs) {
        margin: 10px 0 20px 0;
      }
    }

    .text {
      width: 100%;

      .col-4 {max-width: 32.5%;}

      >.row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .caption {
        margin-bottom: 0;
      }

      .use-text-paragraph {
        font-weight: $font-bold;
        color: var(--v-secondarydark-base);
        @include breakpoints-down(xs) {
          font-size: 16px;
        }
      }

      .sep-line {
        width: 1px;
        background: #ddd;
        height: 40px;
        @include breakpoints-down(xs) {
        //  display: none;
        }
      }
    }
  }
}

.page-index {
  .counter-item {
    @include breakpoints-down(xs) {
      margin: spacing(4, 4, 0);
    }
  }
}

.page-layout-one {

  &.personal {
    .counter-item {
      background: #fff;
      box-shadow: 0 4px 15px rgba(66, 66, 66, 0.25);
    }
  }

  #feature {
    
    .counter-item {
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      @include breakpoints-down(xs) {
        margin: spacing(1.5, 0);
        padding: 0;
      }
    }

    h5 {
      @include breakpoints-down(xs) {
        font-size: 16px;
      }
    }

    h6 {
      @include breakpoints-down(xs) {
        font-size: 14px;
      }
    }

    .ic-f1 {
      min-width: 136px;
      height: 136px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  #mrd-feature2 {
    .root {
      background-color: var(--v-secondarydark-base);
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;
      &.dark-mask {
        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top:0;
          right:0;
          left:0;
          bottom:0;
          background-repeat: no-repeat;
          background-position: center;
          background-size:cover;
          opacity: .45;
          clear: both;
        }
      }
    }

    .counter-item {
      -webkit-box-shadow: 0 4px 15px rgba(66,66,66,.5);
      box-shadow: 0 4px 15px rgba(66,66,66,.5);
      h6 {
        min-height: 48px;
      }
    }

    .title-about {
      margin-bottom: $spacing3;
      h4 {
        margin-bottom: $spacing1;
        position: relative;
        font-weight: $font-bold;
        font-size: 36px;
        display: inline-block;
        line-height: normal;
        color:var(--v-promo-light);
        @include breakpoints-down(xs) {
          font-size: 28px;
        }
        span {
          position: relative;
        }
        &:before {
          content: '';
          height: 15px;
          background-color: var(--v-primary-base);
          width: 90%;
          position: absolute;
          bottom: 4px;
          left: 5%!important;
          @include left(0);
          z-index: 0;
          @include breakpoints-down(xs) {
            height: 8px;
          }
        }
      }
    }

    .ic-f2 {
      height: 72px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &.house {
    #feature {
      .f1-a {
        background-image: url(../../assets/images/promo/01_pink/f1_a.svg);
      }
      .f1-b {
        background-image: url(../../assets/images/promo/01_pink/f1_b.svg);
      }
      .f1-c {
        background-image: url(../../assets/images/promo/01_pink/f1_c.svg);
      }
      .f1-d {
        background-image: url(../../assets/images/promo/01_pink/f1_d.svg);
      }
    }
    #mrd-feature2 {
      .root {
        background-image: url(../../assets/images/promo/01_pink/section-2-bg.jpg);
      }

      .f2-a {
        background-image: url(../../assets/images/promo/01_pink/f2_a.svg);
      }
      .f2-b {
        background-image: url(../../assets/images/promo/01_pink/f2_b.svg);
      }
      .f2-c {
        background-image: url(../../assets/images/promo/01_pink/f2_c.svg);
      }
    }
  }

  &.car {
    #feature {
      .f1-a {
        background-image: url(../../assets/images/promo/02_blue/f1_a.svg);
      }
      .f1-b {
        background-image: url(../../assets/images/promo/02_blue/f1_b.svg);
      }
      .f1-c {
        background-image: url(../../assets/images/promo/02_blue/f1_c.svg);
      }
      .f1-d {
        background-image: url(../../assets/images/promo/02_blue/f1_d.svg);
      }
    }
    #mrd-feature2 {
      .root {
        &.dark-mask {
          &:before {
            background-image: url(../../assets/images/promo/02_blue/bg.jpg);
          }
        }
      }

      .f2-a {
        background-image: url(../../assets/images/promo/02_blue/f2_a.svg);
      }
      .f2-b {
        background-image: url(../../assets/images/promo/02_blue/f2_b.svg);
      }
      .f2-c {
        background-image: url(../../assets/images/promo/02_blue/f2_c.svg);
      }
    }  
  }

  &.motorcycle {

    #feature {
      .f1-a {
        background-image: url(../../assets/images/promo/03_orange/f1_a.svg);
      }
      .f1-b {
        background-image: url(../../assets/images/promo/03_orange/f1_b.svg);
      }
      .f1-c {
        background-image: url(../../assets/images/promo/03_orange/f1_c.svg);
      }
      .f1-d {
        background-image: url(../../assets/images/promo/03_orange/f1_d.svg);
      }
    }
    #mrd-feature2 {
      .root {
        background-image: url(../../assets/images/promo/03_orange/section-2-bg.jpg);

        .f2-a {
          background-image: url(../../assets/images/promo/03_orange/f2_a.svg);
        }
        .f2-b {
          background-image: url(../../assets/images/promo/03_orange/f2_b.svg);
        }
        .f2-c {
          background-image: url(../../assets/images/promo/03_orange/f2_c.svg);
        }
      }
    }
  }

  &.integration {
    #quota {
      .item-ic {
        margin:auto;
        width:108px;
        height:108px;
        background-size:cover;
        background-repeat:no-repeat;
        &.ic-1 {
          background-image: url(../../assets/images/promo/04_green/ic-1.svg);
        }
        &.ic-2 {
          background-image: url(../../assets/images/promo/04_green/ic-2.svg);
        }
        &.ic-3 {
          background-image: url(../../assets/images/promo/04_green/ic-3.svg);
        }
        &.ic-4 {
          background-image: url(../../assets/images/promo/04_green/ic-4.svg);
        }
      }
    }
    #feature {
      .f1-a {
        background-image: url(../../assets/images/promo/04_green/f1_a.svg);
      }
      .f1-b {
        background-image: url(../../assets/images/promo/04_green/f1_b.svg);
      }
      .f1-c {
        background-image: url(../../assets/images/promo/04_green/f1_c.svg);
      }
    }
    #mrd-feature2 {
      .root {
        background-image: url(../../assets/images/promo/04_green/bg.jpg);

        .f2-a {
          background-image: url(../../assets/images/promo/04_green/f2_a.svg);
        }
        .f2-b {
          background-image: url(../../assets/images/promo/04_green/f2_b.svg);
        }
        .f2-c {
          background-image: url(../../assets/images/promo/04_green/f2_c.svg);
        }
      }
    }
  }

  &.personal {
    #feature {
      .f1-a {
        background-image: url(../../assets/images/promo/05/f1_a.svg);
      }
      .f1-b {
        background-image: url(../../assets/images/promo/05/f1_b.svg);
      }
      .f1-c {
        background-image: url(../../assets/images/promo/05/f1_c.svg);
      }
    }
    #mrd-feature2 {
      .root {
        background-image: url(../../assets/images/promo/01_pink/section-2-bg.jpg);
      }

      .f2-a {
        background-image: url(../../assets/images/promo/05/f2_a.svg);
      }
      .f2-b {
        background-image: url(../../assets/images/promo/05/f2_b.svg);
      }
      .f2-c {
        background-image: url(../../assets/images/promo/05/f2_c.svg);
      }
    }
  }


}


.page-program {
  #feature {
    @include breakpoints-down(xs) {
      padding-top: 40px;
    }
  }
}

.page-upload {
  .counter-item {
    @include breakpoints-down(xs) {
      margin: spacing(0, 0, 2);
    }
  }
}