#feature {
  // background: url(../../assets/images/mrd/bg_hero.svg);
  // background-repeat: no-repeat;
  // background-position: center right;
  @include breakpoints-down(xs) {
    // padding-top: 20px;
    // padding-bottom: 0;
  }
  
  .root {
    position: relative;
    width: 100%;
    // padding-bottom: $spacing5;
    @include breakpoints-down(md) {
      padding-bottom: 20px;
    }
    @include breakpoints-between(sm, md) {
      padding-top: $spacing10;
    }
    @include breakpoints-down(xs) {
      padding-bottom: 0
    }
  }

}

.counter-item {
  align-items: center;
  display: flex;
  margin: spacing(2);
  padding: spacing(2);
  background: #fff;
  box-shadow: 0 4px 15px #b3f3fb;
  border-radius: 10px;
  @include breakpoints-down(xs) {
    margin: spacing(4, 4);
  }
  figure {
    @include margin-right($spacing5);
    border: 1px solid $palette-primary-main;
    border-radius: 10px;
    transform: rotate(45deg);
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    @include breakpoints-down(xs) {
      width: 70px;
      height: 70px;
      line-height: 70px;
    }
    img {
      transform: rotate(-45deg);
      @include use-theme(filter, none, invert(1));
      width: 55%;
      max-height: 55%;
      margin: 0 auto;
    }
    &:after {
      content: '';
      background: $palette-primary-main;
      width: 23px;
      height: 23px;
      border-radius: 5px;
      position: absolute;
      bottom: 20px;
      right: -10px;
    }
  }
  .text {
    @include breakpoints-down(xs) {
      flex: 1
    }
  }
  h4 {
    font-size: 28px;
    @include breakpoints-down(sm) {
      // margin-top: $spacing3
    }
    @include breakpoints-down(xs) {
      font-size: 22px;
    }
  }
  h5 {
    color: #424188;
    font-size: 24px;
    @include breakpoints-down(sm) {
      // margin-top: $spacing3
    }
    @include breakpoints-down(xs) {
      font-size: 20px;
    }
  }
  h6 {
    @include palette-text-secondary
  }
  @include breakpoints-between(sm, md) {
    flex-direction: column;
    text-align: center
  }
  @include breakpoints-down(xs) {
    justify-content: center;
  }
}

.page-program {
  .counter-item {
    margin: 16px 8px;
    @include breakpoints-down(xs) {
      display: block;
      padding:spacing(1.5, 1);
      margin: spacing(1.5, 0);
    }

    img.bank-logo {
      width: 100px;
      margin-right: 20px;
      @include breakpoints-down(xs) {
        margin: 10px 0 20px 0;
      }
    }

    .text {
      width: 100%;

      .col-4 {max-width: 32.5%;}

      >.row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .caption {
        margin-bottom: 0;
      }

      .use-text-paragraph {
        font-weight: $font-bold;
        color: var(--v-secondarydark-base);
        @include breakpoints-down(xs) {
          font-size: 16px;
        }
      }

      .sep-line {
        width: 1px;
        background: #ddd;
        height: 40px;
        @include breakpoints-down(xs) {
        //  display: none;
        }
      }
    }
  }
}

.page-index {
  .counter-item {
    @include breakpoints-down(xs) {
      margin: spacing(4, 4, 0);
    }
  }
}

.page-layout-one {

  #feature {
    
    .counter-item {
      background: transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
      @include breakpoints-down(xs) {
        margin: spacing(1.5, 0);
        padding: 0;
      }
    }

    h5 {
      @include breakpoints-down(xs) {
        font-size: 16px;
      }
    }

    h6 {
      @include breakpoints-down(xs) {
        font-size: 14px;
      }
    }

    .ic-f1 {
      height: 143px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      
      &.f1-a {
        background-image: url(../../assets/images/promo/01_pink/f1_a.png);
      }
      &.f1-b {
        background-image: url(../../assets/images/promo/01_pink/f1_b.png);
      }
      &.f1-c {
        background-image: url(../../assets/images/promo/01_pink/f1_c.png);
      }
      &.f1-d {
        background-image: url(../../assets/images/promo/01_pink/f1_d.png);
      }
    }
  }

  #mrd-feature2 {
    .root {
      background-color: #8a4b64;
      background-image: url(https://mkp.taishinbank.com.tw/TsCms/marketing/expose/WM_20190325132043672/img/houseloan-detail/section-2-bg@2x.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .counter-item {
      -webkit-box-shadow: 0 4px 15px rgba(66,66,66,.5);
      box-shadow: 0 4px 15px rgba(66,66,66,.5);
    }

    .title-about {
      margin-bottom: $spacing3;
      h4 {
        margin-bottom: $spacing1;
        position: relative;
        font-weight: $font-bold;
        font-size: 36px;
        display: inline-block;
        line-height: normal;
        color:var(--v-primarylight-base);
        @include breakpoints-down(xs) {
          font-size: 28px;
        }
        span {
          position: relative;
        }
        &:before {
          content: '';
          height: 15px;
          background-color: var(--v-primary-base);
          width: 90%;
          position: absolute;
          bottom: 4px;
          left: 5%!important;
          @include left(0);
          z-index: 0;
          @include breakpoints-down(xs) {
            height: 8px;
          }
        }
      }
    }

    .ic-f2 {
      height: 72px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      
      &.f2-a {
        background-image: url(../../assets/images/promo/01_pink/f2_a.png);
      }
      &.f2-b {
        background-image: url(../../assets/images/promo/01_pink/f2_b.png);
      }
      &.f2-c {
        background-image: url(../../assets/images/promo/01_pink/f2_c.png);
      }
    }
  }
}


.page-program {
  #feature {
    @include breakpoints-down(xs) {
      padding-top: 40px;
    }
  }
}