#subscribe, #phone-verify, #phone-verify-2 {
  .root {
    position: relative;
    text-align: center;
  }
  .parallax-form-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 660px;
    overflow: hidden;
    @include breakpoints-down(xs) {
      height: 100vh;
    }
    .parallax {
      background: url(../../assets/images/mrd/bg_form.svg) no-repeat;
      // background-size: cover;
      height: 220%;
      @include breakpoints-down(xs) {
        background: url(../../assets/images/mrd/bg_form_h5.svg) no-repeat;
        background-size: cover;
        background-position: center 0 !important;
        height: 100vh;
      }
    }
  }

  .form {
    @include palette-background-paper;
    // max-width: 700px;
    border-radius: 20px;
    margin: 0 auto;
    top: 100px;
    z-index: 2;
    width: 100%;
    display: block;
    overflow: inherit;
    @include palette-text-secondary;
    position: relative;
    bottom: $spacing10 * -1;
    padding: spacing(5, 2);
    @include breakpoints-up(sm) {
      padding: spacing(5, 10);
    }
    @include breakpoints-down(sm) {
      padding: spacing(3, 1);
      top: 50px;
    }
    h4 {
      @include palette-text-primary;
      margin-bottom: $spacing3
    }

  }

  .field {
    margin: spacing(3, 0, 4)
  }

  .btn.btn-large.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-width: 185px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans TC", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .btn.btn-large.button.btn-custom {
    width: 170px;
    height: 50px;
    border-radius: 100rem;
    color: #fff !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb973), to(#e02759)) !important;
    background: -o-linear-gradient(#ffb973 0%, #e02759 100%) !important;
    background: linear-gradient(#ffb973 0%, #e02759 100%) !important;
    border: 2px solid #fba66f;
    font-size: 18px!important;
  }

  .btn.btn-large.button.btn-custom-outline {
    width: 170px;
    height: 50px;
    border-radius: 100rem;
    color: #239eac !important;
    background: #fff;
    border: 2px solid #03BAD4;
    font-size: 18px!important;
  }

  .separator {
    margin: auto;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
    position: relative;
    p {
      @include breakpoints-down(xs) {
        font-size: 12px
      }
    }
    &:before, &:after {
      content: "";
      border-top: 1px solid;
      @include use-theme(border-top-color, $light-text-hint, $dark-text-hint);
      top: 50%;
      position: absolute;
      width: 20%
    }
    &:before {
      left: 0
    }
    &:after {
      right: 0
    }
  }

  .select-wrapper input {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .form-control {
    min-height: 52px;
    padding: 0 12px;
    border-radius: 8px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans TC", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  .progress {
    background-color: #eff1f3;
  }

  .progress-bg-custom {
    background-color: #f89057;
  }

}

.page-index {
  #subscribe {
    @include breakpoints-down(xs) {
      padding-bottom: 40px;
    }
  }
}


#subscribe {
  .separator {
    p {
      margin-bottom: 0;
    }
  }
}


#phone-verify,#phone-verify-2 {
  .separator {
    margin: 20px auto;
  }
  form {
    .row {justify-content: center;}
    .use-text-paragraph {margin-bottom: 0;}
    .user-input-phone {
      font-weight: var(--font-bold);
      color: var(--con-1);
    }
    a.btn-flat {
      color: var(--v-anchor-base);
    }
  }
}

.page-layout-one {
  .burgundy-var {
    #subscribe {
      .parallax-form-wrap {
        .parallax {
          background: url(../../assets/images/promo/01_pink/bg_form_pink.svg) no-repeat;
          @include breakpoints-down(xs) {
            background: url(../../assets/images/promo/01_pink/bg_form_pink_h5.svg) no-repeat;
          }
        }
      }  
    }  
  }
}
