@mixin align {
  &.align-left {
    @include text-align(left);
    @include breakpoints-down(xs) {
      text-align: center !important;
      h4 {
        &:before {
          width: 80%;
          @include left(10%);
        }
      }
    }
    h4 {
      &:before {
        @include left(-4px)
      }
    }
  }

  &.align-right {
    @include text-align(right);
    @include breakpoints-down(xs) {
      text-align: center !important;
      h4 {
        &:before {
          width: 80%;
          @include left(10%);
        }
      }
    }
    h4 {
      &:before {
        @include right(-4px)
      }
    }
  }

  &.align-center {
    text-align: center;
    h4 {
      &:before {
        width: 80%;
        @include left(10%);
      }
    }
  }
}

.title-main {
  @include align;
  margin-bottom: $spacing3;
  h4 {
    text-transform: capitalize;
    @include palette-text-primary;
    margin-bottom: $spacing1;
    position: relative;
    font-size: 36px;
    font-weight: $font-bold;
    display: inline-block;
    @include breakpoints-down(xs) {
      font-size: 28px;
    }
    span {
      position: relative;
    }
    &.primary {
      &:before {
        @include use-theme(background-color, $palette-primary-light, $palette-primary-dark);
      }
    }
    &.secondary {
      &:before {
        @include use-theme(background-color, $palette-secondary-light, $palette-secondary-dark);
      }
    }
    &:before {
      content: '';
      height: 15px;
      width: 90%;
      position: absolute;
      bottom: 10px;
      @include left(0);
      z-index: 0;
      @include breakpoints-down(xs) {
        height: 8px;
      }
    }
  }
  &.dark {
    h4 {
      color: $palette-common-white;
      &:before {
        background-color: rgba(255, 255, 255, 0.5) !important
      }
    }
    .desc {
      position: relative;
      color: $palette-common-white
    }
  }
}


.page-program {
  h1,h6,.title-main h4 {
    color: var(--v-primarydark-base);
  }

  h6 {
    @include breakpoints-up(sm) {
    font-size: 20px;
    }
  }

  p.use-text-subtitle2 {
    color: var(--v-secondarydark-base);
  }
}

.page-layout-one {

  .title-main {
    h4 {
      color: var(--v-anchor-base);
    }
    .use-text-subtitle2 {
      color: var(--v-primarydark-base);
    }
  }

  #explore {
    p {margin-bottom: 10px;line-height:1.25;}
    .use-text-subtitle {
      margin-bottom: 10px;
      font-weight: var(--font-bold);
      color: var(--v-secondarydark-base);
      @include breakpoints-down(xs) {
        font-size: 20px;
      }
    }
    .paragraph {
      color: var(--v-secondarydark-base);
    }
    .caption {
      color: var(--v-primarydark-base);
    }
  }

  #mrd-feature2 {
    .container {
      p {
        position: relative;
        margin-bottom: 0;
        color:var(--v-primarylight-base);
      }
    }
  }

  #slogan {
    .title-main {
      margin-bottom: 0;
      p {
        font-weight: 500;
        margin-bottom: 0;
        line-height:1.8;
        color:var(--v-primarydark-base);
      }
    }
  }

  #subscribe {
    .title-main {
      p {
        color:var(--v-primarydark-base);
      }
    }
    p.caption {
      color:var(--v-primarydark-base);
    }
  }

  #testimonials {
    .container {
      max-width: 1400px;
    }
    .title-main {
      p {
        color:var(--v-primarydark-base);
      }
    }
  }

  #quota {
    background-color: var(--v-primary-base);
    .title-main {
      h4 {
        color: var(--v-promo-light);
      }
      p {
        color: var(--v-primarylight-base);
        font-weight: 300;
      }
    }
  }

  #promo-name {
    background-color: var(--v-primary-base);
    .use-text-title2 {
      color:var(--v-primarylight-base);
    }
  }

  &.car {
    #promo-name {
      background-color: var(--v-primarylight-base);
      .use-text-title2 {
        color:var(--v-primarydark-base);
      }
    }
  }

  &.motorcycle {
    #promo-name {
      background-color: var(--v-primarydark-base);
      .use-text-title2 {
        color:var(--v-primarylight-base);
      }
    }
  }

  &.integration {
    #promo-name {
      background-color: var(--v-primarylight-base);
      .use-text-title2 {
        color:var(--v-primarydark-base);
      }
    }
  }

  &.personal {
    #promo-name {
      background-color: var(--v-primarylight-base);
      .use-text-title2 {
        color:var(--v-primary-base);
      }
    }
  }

  #about {

    .title-about {
      text-align: left;
    }

    ol {
      list-style-type:disc;
      li {
        line-height:1.5;
        margin-bottom: 10px;
      }
      margin-left: 1.2rem;
      @include breakpoints-down(sm) {
        margin-left: 1rem;
        text-align: left;
        font-size: 16px;
      }
    }

    h5 {
      color: var(--v-secondary-base);
      @include breakpoints-down(sm) {
        font-size: 20px;
      }
    }

    .use-text-subtitle3 {
      font-weight: var(--font-regular);
      line-height: 1.8;
      color: var(--v-primarylight-base);
    }
  }

  .motorcycle {
    #quota {
      background-color: var(--v-primary-base);
      .title-main {
        h4 {
          color: var(--v-promo-light);
        }
        p {
          color: var(--v-primarylight-base);
          font-weight: 300;
        }
      }
    }
  }

}

.page-about {
  .title-main {
    h4.primary {
      margin-bottom: $spacing2;
      &:before {
        background: none;
      }

      span {
        background: #b2ebf2;
        background: -webkit-gradient(linear, left bottom, left top, from(#b2ebf2), color-stop(30%, #b2ebf2), color-stop(30%, rgba(178, 235, 242, 0)), to(rgba(178, 235, 242, 0)));
        background: -o-linear-gradient(bottom, #b2ebf2 0%, #b2ebf2 30%, rgba(178, 235, 242, 0) 30%, rgba(178, 235, 242, 0) 100%);
        background: linear-gradient(0deg, #b2ebf2 0%, #b2ebf2 30%, rgba(178, 235, 242, 0) 30%, rgba(178, 235, 242, 0) 100%);
      }
    }
  }
}

.page-privacy {
  .inner-text {
    p:not(.use-text-subtitle2) {
      font-size: 14px;
    }
    .use-text-subtitle2 {
      font-weight:500;
      margin-bottom: 5px;
    }
    ul {
      margin-left:1rem;
      li {
        margin-bottom: 10px;
        list-style-type:disc;
        font-size: 14px;
      }
    }
    ol {
      margin-left:1rem;
      li {
        margin-bottom: 10px;
        font-size: 14px;
      }
    }
  }
}
